@using EasyBudget.Presentation.Enums
@using EasyBudget.Common.Model
@using EasyBudget.Presentation.Utils

@if (true)
{
<div class="entity-view-container">
    @{
        if (!ViewModel.BudgetRequestViewModel.NewRequestMode)
        {
        <div class="entity-view-existed">
            <div class="entity-view-existed-top">

                @{
                    if (ViewModel.BudgetRequestViewModel.IsEditable)
                    {
                        <button @onclick="ViewModel.BudgetRequestViewModel.ChangeEditMode">Редагувати</button>
                    }
                    else
                    {
                        <button disabled="disabled">Редагувати</button>
                    }
                    if (ViewModel.BudgetRequestViewModel.ApproveAble)
                    {
                        <button @onclick="ViewModel.BudgetRequestViewModel.ApproveRequest">Затвердити</button>
                    }
                    else
                    {
                        <button disabled="disabled">Затвердити</button>
                    }

                }
            </div>
            <div class="entity-view-existed-main">
                <div class="entity-view-existed-main-name">
                    @{
                        
                        if (ViewModel.BudgetRequestViewModel.NameField == FieldsStates.NotEditable)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Name</label>
                        }
                        else
                        {
                            <input @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Name">
                        }

                    }
                </div>
                <div class="entity-view-existed-main-users">
                    <div>
                        <label>Ініціатор: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Requester.Name</label>
                    </div>
                    <div>
                        <label>Затверджувач: </label>
                        @if (ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Approver != null)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Approver.Name</label>
                        }
                        else
                        {
                            <label></label>
                        }

                    </div>
                    <div>
                        <label>Виконавець: </label>
                        @if (ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Executor != null)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Executor.Name</label>
                        }
                        else
                        {
                            <label></label>
                        }

                    </div>
                    <div>
                        <label>Стан: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.State.GetLocalizationState()</label>
                    </div>
                </div>
                <div class="entity-view-existed-main-prices">
                    <div>
                        <label>Орієнтовна ціна:</label>
                        @if (ViewModel.BudgetRequestViewModel.EstimatedPriceField == FieldsStates.NotEditable)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.EstimatedPrice</label>
                        }
                        else
                        {
                            <input @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.EstimatedPrice" />
                        }
                    </div>
                    <div>
                        <label>Точна ціна: </label>
                        @if (ViewModel.BudgetRequestViewModel.RealPriceField == FieldsStates.NotEditable)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.RealPrice</label>
                        }
                        else
                        {
                            <input @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.RealPrice" />
                        }
                    </div>
                </div>
                <div class="entity-view-existed-main-info">
                    <div>
                        <label>Відділ:</label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Department.Name</label>
                    </div>
                    <div>
                        <label>Юніт:</label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Unit.Name</label>
                    </div>
                </div>
                <div class="entity-view-existed-main-dates">
                    <div>
                        <label>Дата запиту: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateRequested</label>
                    </div>
                    <div>
                        <label>Запрошений дедлайн: </label>
                        @if (ViewModel.BudgetRequestViewModel.DateRequestedDeadlineField == FieldsStates.NotEditable)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateRequestedDeadline</label>
                        }
                        else
                        {
                            <input type="date" @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateRequestedDeadline" />
                        }
                    </div>
                    <div>
                        <label>Дата затвердження директором: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateDirectorApprove</label>
                    </div>
                    <div>
                        <label>Дата початку виконання: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateStartExecution</label>
                    </div>
                    <div>
                        <label>Встановлений дедлайн: </label>
                        @if (ViewModel.BudgetRequestViewModel.DateDeadlineExecutionField == FieldsStates.NotEditable)
                        {
                            <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateDeadlineExecution</label>
                        }
                        else
                        {
                            <input type="date" @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateDeadlineExecution" />
                        }
                    </div>
                    <div>
                        <label>Дата завершення виконання: </label>
                        <label>@ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateEndExecution</label>
                    </div>
                </div>
            </div>
            
            <div class="entity-view-existed-bottom">
                @{
                    <div>
                        <button @onclick="ViewModel.ReturnToList">Назад</button>
                    </div>
                    if (ViewModel.BudgetRequestViewModel.InEditMode)
                    {
                        <button @onclick="ViewModel.BudgetRequestViewModel.CancelChanges">Скасувати зміни</button>
                    }
                    else
                    {
                        <button disabled="disabled">Скасувати зміни</button>
                    }
                }
            </div>
        </div>
            
        }
        else
        {
            <div class="entity-view-new">
                <div>
                    <input type="text" @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Name"/>
                </div>
                <div>
                    <input type="date" @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.DateRequestedDeadline"/>
                    <select @bind="ViewModel.BudgetRequestViewModel.ChangedBudgetRequest.Department.Id">
                        <option value="@Guid.Empty">Виберіть відділ</option>
                        @{
                            foreach (PairGuid pair in ViewModel.BudgetRequestViewModel.Departments)
                            {
                                <option value="@pair.Key">@pair.Value.ToString()</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <button @onclick="ViewModel.BudgetRequestViewModel.CreateNewRequest">Створити запит</button>
                </div>
                <div>
                    <button @onclick="ViewModel.ReturnToList">Назад</button>
                </div>
            </div>
        }
    }

</div>
}
else
{
    
}



@code {

    [Parameter]
    public IBudgetRequestListViewModel ViewModel { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ViewModel.ViewModelChanged += () => this.InvokeAsync(StateHasChanged);
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }
}
